<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Confival</title>{% endblock %}
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     
    <!-- agregando archivos estaticos adicionales css -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'registro_abogados/estilo.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                {% block sidebar %}
                <ul class="sidebar-nav">
                    <li><a href="{% url 'registro_abogados:index' %}">Home</a></li>                    

                    <!-- autenticacion del usuario -->
                    {% if user.is_authenticated %}
                        <li>User: {{ user.get_username }}</li>
                        <br>
                        <li><a href="{% url 'registro_abogados:index' %}">Home</a></li>
                        <li><a href="{% url 'registro_abogados:contact' %}">Contacto</a></li>
                        <li><a href="">Sentencias/Conciliaciones</a></li>
                        <li><a href="">Beneficiarios</a></li>
                        <li><a href="">Asesores</a></li>
                        <li><a href="">Gestion Cliente</a></li>
                        <li><a href="">Agenda</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Abogados
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="{% url 'registro_abogados:abogado_create' %}">Registro Abogados</a>
                              <a class="dropdown-item" href="{% url 'registro_abogados:abogadosRegistrados' %}">Abogados Registrados</a>
                              <a class="dropdown-item" href="#">Cargar Documentos de Abogados</a>
                              <a class="dropdown-item" href="#">Lista de Documentos de Abogados</a>
                              <a class="dropdown-item" href="#">Lista de Abogados sentencia</a>                              
                            </div>
                        </li>

                        <li><a href="">Actividad en Softaware</a></li>
                        <li><a href="">Juzgados/Tribunales</a></li>
                        <li><a href="">Seguridad</a></li>
                        <br>
                        <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
                        <li><a href="">Register</a></li>
                    {% endif %}
                </ul>
                {% endblock %}
            </div>
            <div class="col-sm-10">
                {% block content %}{% endblock %}
                {% block pagination %}
                    {% if is_paginated %}
                        <div class="pagination">
                            <span class="page-links">
                                {% if page_obj.has_previous %}
                                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                                <span class="page-current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                                {% if page_obj.has_next %}
                                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                                {% endif %}
                            </span>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 

</body>
</html>