<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="encabezado">
            <h2>
                Actualizaci&oacute;n Abogados
            </h2>
        </div>
        <div class="fecha">
            <p>
                <h2>
                    <script>
                        var f = new Date();
                        document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
                    </script>
                </h2>
            </p><br>
        </div>        
    </header>
    
    <form>
        <input class="form-control" id="ex1" type="search" placeholder="B&uacute;squeda r&aacute;pida">
        <span class="input-group-btn">
            <button class="btn botonbusqueda" type="button">
                <i class="glyphicon glyphicon-search">consultar</i>
            </button>
        </span>
    </form>
    
    {% if latest_abogado_list %}
        <ul>
            {% for abogado in latest_abogado_list %}
            <!-- <li><a href="/home/{{ abogado.codigo }}/">{{ abogado.nombres }}</a></li> -->
                <li>{{ abogado.nombres}} {{ abogado.apellidos }} {{ abogado.cedula}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay abogados disponibles.</p>
    {% endif %}
</body>
</html>